{% extends 'PPBBlogBundle:Backend:layout.html.twig' %}

{% block body -%}
{% if entity.id %}
<form action="{{ path('backend_taxonomy_update', {'taxonomy' : app.request.get('taxonomy'), 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
<input type="hidden" name="_method" value="PUT" />
{% else %}
<form action="{{ path('backend_taxonomy_create', {'taxonomy' : app.request.get('taxonomy')}) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
{% endif %}
    <div class="row">
        <div class="col col-lg-12">
            <div class="panel">
                <div class="panel-heading">Category edit</div>
                <div class="panel-content">
                    {{ form_widget(form) }}
                    <div class="">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/row-->
    {{ form_rest(form) }}
</form>
{% endblock %}
