{% extends 'PPBBlogBundle:Backend:layout.html.twig' %}

{% block body %}
<div class="row-fluid sortable">
    <div class="panel">
        <div class="panel-heading">Post list</div>
        <div class="panel-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Slug</th>
                    <th>Posts</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('backend_taxonomy_edit', { 'taxonomy' : app.request.get('taxonomy'), 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td><a href="{{ path('backend_taxonomy_edit', { 'taxonomy' : app.request.get('taxonomy'), 'id': entity.id }) }}">{{ entity.term.name }}</a></td>
                        <td>{{ entity.description }}</td>
                        <td>{{ entity.term.slug }}</td>
                        <td>{{ entity.count }}</td>
                        <td>
                            {#<a class="btn btn-small btn-success" href="{{ path('post_show', { 'slug': entity.slug }) }}" target="_BLANK">#}
                                {#<i class="glyphicon glyphicon-zoom-in"></i>#}
                                {#View#}
                            {#</a>#}
                            <a class="btn btn-small btn-info" href="{{ path('backend_taxonomy_edit', {'taxonomy' : app.request.get('taxonomy'), 'id': entity.id }) }}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>

                            <a class="btn btn-small btn-danger" href="{{ path('backend_taxonomy_delete', {'taxonomy' : app.request.get('taxonomy'), 'id': entity.id }) }}">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div><!--/span-->
</div><!--/row-->
    {% endblock %}
