{% extends '::base.html.twig' %}

{% block stylesheets %}
    <!-- The styles -->
    <link rel="stylesheet" href="{{ asset('bundles/ppbblog/bootstrap/css/bootstrap.css') }}" />
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% endblock %}

{% block header %}
    <header class="banner navbar navbar-static-top" role="banner">

        <div class="container">
            <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" href="#">Blog</a>
            <div class="nav-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </header>

    <div class="wrap container" role="document">
        <div class="content row">
            <div class="main col col-lg-9" role="main">
{% endblock %}

{% block footer %}
            </div><!-- /.main -->
            <aside class="sidebar col col-lg-3" role="complementary">
                {% render url('widget_categories') %}
            </aside>
        </div><!-- /.content -->
    </div><!-- /.wrap -->
    <footer class="content-info" role="contentinfo">
        <div class="container">
            <p>Patryk Połomski&copy; 2013</p>
        </div>
    </footer>

{% endblock %}