{% extends '::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}


{% block stylesheets %}
    <!-- The styles -->
    <link href="{{ asset('bundles/ppbblog/bootstrap/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/ppbblog/backend/css/application.css') }}" rel="stylesheet" media="screen">
    <style>
        body {
            padding-top: 60px;
        }
    </style>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% endblock %}

{% block header %}
    <!-- topbar starts -->


    <!-- Fixed navbar -->
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" href="#">Admin</a>
            <div class="nav-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Visit Site</a></li>
                </ul>
            </div><!--/.nav-collapse -->
            {% if app.user %}
            <div class="nav-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><span class="hidden-phone"> {{ app.user.username }}</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
            {% endif %}
        </div>
    </div>
    <!-- topbar ends -->
    <div class="container">
        <div class="row">

            <!-- left menu starts -->
            <div class="col col-lg-3 main-menu-span">
                {{ mopa_bootstrap_navbar('backendSidebar') }}
            </div><!--/span-->
            <!-- left menu ends -->

            <noscript>
                <div class="alert alert-block col col-lg-9">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <div id="content" class="col col-lg-9">
                <!-- content starts -->
                {% block flashes %}
                    {% if app.session.flashbag.peekAll|length > 0 %}
                        <div class="row-fluid">
                            <div class="span12">
                                {{ session_flash() }}
                            </div>
                        </div>
                    {% endif %}
                {% endblock flashes %}

{% endblock %}

{% block footer %}
                <!-- content ends -->
            </div><!--/#content.span10-->
        </div><!--/fluid-row-->

        <hr>

        <div class="modal hide fade" id="myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>

        <footer>
            <p>Patryk Połomski&copy; 2013</p>
        </footer>

    </div><!--/.fluid-container-->

    <!-- external javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ asset('bundles/ppbblog/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
