{% extends 'PPBBlogBundle:Frontend:layout.html.twig' %}

{% block body %}
    {% for entity in entities %}
        <article>
        <header>
            <h2 class="entry-title"><a href="{{ path('post_show', {'slug': entity.slug}) }}">{{ entity.title }}</a></h2>
            <time class="updated" datetime="{{ entity.publishedAt|date }}" pubdate>{{ entity.publishedAt|date }}</time>
            <p class="byline author vcard">
                by <a href="#" rel="author" class="fn">{{ entity.author.username }}</a>
            </p>

        </header>
        <div class="entry-summary">
            {{ entity.excerpt }}
        </div>
        <footer>
        </footer>
        </article>

    {% endfor %}
{% endblock %}
