{% extends 'PPBBlogBundle:Frontend:layout.html.twig' %}

{% block body -%}
    <article>
    <header>
        <h1 class="entry-title">{{ entity.title }}</h1>
        <time class="updated" datetime="{{ entity.publishedAt|date }}" pubdate>{{ entity.publishedAt|date }}</time>
    </header>
    <div class="entry-content">
        {{ entity.content }}
    </div>
    <footer>
    </footer>
    </article>
{% endblock %}
