
/* First level of nav */
.main-menu {
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f5f5f5;
    border-radius: 5px;
}

/* All levels of nav */
.sidebar-nav .nav > li > a {
    display: block;
    color: #666;
    padding: 4px 15px;
}
.sidebar-nav .nav > li > a:hover,
.sidebar-nav .nav > li > a:focus {
    text-decoration: none;
    border-right: 1px solid #d5d5d5;
}
.sidebar-nav .nav > .active > a,
.sidebar-nav .nav > .active:hover > a,
.sidebar-nav .nav > .active:focus > a {
    font-weight: 500;
    color: #b94a48;
    background-color: transparent;
    border-right: 1px solid #b94a48;
}

/* Nav: second level (shown on .active) */
.sidebar-nav .nav .nav {
    /*display: none;*/
    margin-bottom: 5px;
}
.sidebar-nav .nav > .active > ul {
    /*display: block;*/
}
.sidebar-nav .nav .nav > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 40px;
    font-size: 90%;
}