<section class="widget widget_categories well">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav main-menu">
            <li class="nav-header">Categories</li>
            {% for entity in entities %}
                <li class="cat-item cat-item-{{ entity.id }}"><a href="{{ path('post_category', {'slug': entity.slug }) }}" title="View all posts filed under {{ entity.name }}">{{ entity.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>