{% extends 'PPBBlogBundle:Backend:layout.html.twig' %}

{% block body -%}
{% if entity.id %}
<form action="{{ path('backend_post_update', { 'post_type': app.request.get('post_type'), 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
<input type="hidden" name="_method" value="PUT" />
{% else %}
<form action="{{ path('backend_post_create', { 'post_type': app.request.get('post_type') }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
{% endif %}
    <div class="row">
        <div class="col col-lg-9">
            <div class="panel">
                <div class="panel-heading">Post edit</div>
                <div class="panel-content">
                    {{ form_row(form.title) }}
                    {{ form_row(form.content) }}
                </div>
            </div>
        </div>
        <div class="col col-lg-3">
            <div class="panel">
                <div class="panel-heading">Publish</div>
                <div class="panel-content">
                    {{ form_row(form.status) }}
                    {{ form_row(form.publishedAt) }}
                    <div class="">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">Categories</div>
                <div class="panel-content">
                    {{ form_row(form.termTaxonomies) }}
                </div>
            </div>
        </div>
    </div><!--/row-->
    {{ form_rest(form) }}
</form>
{% endblock %}
