{% extends 'PPBBlogBundle:Backend:layout.html.twig' %}

{% block body %}
<div class="row-fluid sortable">
    <div class="panel">
        <div class="panel-heading">Post list</div>
        <div class="panel-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Categories</th>
                    <th>Tags</th>
                    <th>Comments</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('backend_post_edit', { 'post_type': app.request.get('post_type'), 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td><a href="{{ path('backend_post_edit', { 'post_type': app.request.get('post_type'), 'id': entity.id }) }}">{{ entity.title }}</a></td>
                        <td>{{ entity.author.username }}</td>
                        <td>
                            {% for category in entity.getTermsByTaxonomy('category') %}
                                {{ category.term.name }}
                            {% endfor %}
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            {% if entity.publishedAt %}{{ entity.publishedAt|date('Y-m-d H:i:s') }}{% endif %}<br/>
                            <span class="label label-success">{{ entity.status }}</span>
                        </td>
                        <td>
                            <a class="btn btn-small btn-success" href="{{ path('post_show', { 'slug': entity.slug }) }}" target="_BLANK">
                                <i class="glyphicon glyphicon-zoom-in"></i>
                            </a>
                            <a class="btn btn-small btn-info" href="{{ path('backend_post_edit', { 'post_type': app.request.get('post_type'), 'id': entity.id }) }}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>

                            <a class="btn btn-small btn-danger" href="{{ path('backend_post_delete', { 'post_type': app.request.get('post_type'), 'id': entity.id }) }}">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div><!--/span-->
</div><!--/row-->
    {% endblock %}
